

<mat-tab-group  class="mt-4">
    <mat-tab label="Artiste">
        <div>
            <div id="products" class="page-layout carded fullwidth inner-scroll">

                <!-- TOP BACKGROUND -->
                <div class="top-bg accent"></div>
                <!-- / TOP BACKGROUND -->

                <!-- CENTER -->
                <div class="center">

                    <!-- HEADER -->
                    <div class="header accent"
                         fxLayout="column" fxLayoutAlign="center center"
                         fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

                        <!-- APP TITLE
                        <div class="logo mb-md-0"
                             fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="logo-icon s-32 mr-4" >
                                audiotrack
                            </mat-icon>
                            <span class="logo-text h1" >
                                elements
                            </span>
                        </div>
                        APP TITLE -->

                        <!-- SEARCH -->
                        <!-- <div class="search-wrapper mx-32 mx-md-0">
                            <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon>search</mat-icon>
                                <input #filter placeholder="Rechercher un element">
                            </div>
                        </div> -->
                        <!-- / SEARCH -->

                        <!-- ADD BUTTON -->
                        <button mat-raised-button
                        (click)="add('new', null, null)"
                                class="add-product-button fuse-white mt-8 mb-4 mt-md-0">
                            <span>AJOUTER UN ARTISTE</span>
                        </button>
                        <!-- / ADD BUTTON -->

                    </div>
                    <!-- / HEADER -->

                    <!-- CONTENT CARD -->
                    <div class="content-card">

                        <mat-table class="products-table"
                                   #table [dataSource]="artiste"
                                   matSort
                                   fusePerfectScrollbar>

                            <!-- ID Column -->
                            <ng-container matColumnDef="nom">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <p class="text-truncate">{{element.nom}}</p>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="biographie">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Biographie</mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <p class="text-truncate">{{element.biographie}}</p>
                                </mat-cell>
                            </ng-container>


                            <!-- Image Column -->
                            <ng-container matColumnDef="img">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <img class="product-image"
                                    [src]="apiUrl+'artiste/image/'+element.photo"/>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Action</mat-header-cell>
                                <mat-cell *matCellDef="let element; let i = index" fxHide fxShow.gt-xs>

                                    <button mat-icon-button	 color="primary" class="" (click)="add('edit',element, i)">
                                        <mat-icon>remove_red_eye</mat-icon>
                                    </button>
                                    <button mat-icon-button	 color="accent" (click)="delete(element.id, i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                            <mat-row *matRowDef="let element; columns: displayedColumns;"
                                     class="product"
                                     matRipple>
                            </mat-row>

                        </mat-table>

                        <mat-paginator #paginator
                                       [length]="artiste.data.length"
                                       [pageIndex]="0"
                                       [pageSize]="10"
                                       [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator>

                    </div>
                    <!-- / CONTENT CARD -->
                </div>
                <!-- / CENTER -->
            </div>

        </div>
    </mat-tab>

    <!--ALBUM TAB-->


  </mat-tab-group>


