<div class="w-full p-3">
    <div>
        <div>
            <div id="products" class="page-layout carded fullwidth inner-scroll">

                <!-- TOP BACKGROUND -->
                <div class="top-bg accent"></div>
                <!-- / TOP BACKGROUND -->

                <!-- CENTER -->
                <div class="center">

                    <!-- HEADER -->
                    <div class="header accent"
                         fxLayout="column" fxLayoutAlign="center center"
                         fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

                        <!-- APP TITLE -->
                        <div class="logo mb-md-0"
                             fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="logo-icon s-32 mr-4" >
                                audiotrack
                            </mat-icon>
                            <span class="logo-text h1" >
                                {{data?.nom}} par {{data?.artiste}}
                            </span>
                        </div>
                        <!-- / APP TITLE -->

                        <!-- SEARCH -->
                        <!-- <div class="search-wrapper mx-32 mx-md-0">
                            <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon>search</mat-icon>
                                <input #filter placeholder="Rechercher un song">
                            </div>
                        </div> -->
                        <!-- / SEARCH -->

                        <!-- ADD BUTTON -->
                        <button mat-raised-button
                        (click)="addSong('new', null, null)"
                                class="add-product-button fuse-white mt-8 mb-4 mt-md-0">
                            <span>AJOUTER NOUVEAU SONG</span>
                        </button>
                        <!-- / ADD BUTTON -->

                    </div>
                    <!-- / HEADER -->

                    <!-- CONTENT CARD -->
                    <div class="content-card">

                        <mat-table class="products-table"
                                   #table [dataSource]="songs"
                                   matSort
                                   fusePerfectScrollbar>

                            <!-- ID Column -->
                            <ng-container matColumnDef="titre">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Titre</mat-header-cell>
                                <mat-cell *matCellDef="let song">
                                    <p class="text-truncate">{{song.titre}}</p>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="artiste">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Artiste</mat-header-cell>
                                <mat-cell *matCellDef="let song">
                                    <p class="text-truncate">{{song.artiste}}</p>
                                </mat-cell>
                            </ng-container>


                            <!-- Image Column -->
                            <ng-container matColumnDef="img">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let song">
                                    <img class="product-image"
                                    [src]="songUrl+'songs/image/'+song.img"/>
                                </mat-cell>
                            </ng-container>



                            <!-- Price Column -->
                            <ng-container matColumnDef="like">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>like</mat-header-cell>
                                <mat-cell *matCellDef="let song" fxHide fxShow.gt-xs>
                                    <p class="price text-truncate">
                                        {{song?.likes?.length}}
                                    </p>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Action</mat-header-cell>
                                <mat-cell *matCellDef="let song; let i = index" fxHide fxShow.gt-xs>

                                    <button mat-icon-button	 color="primary" class="" (click)="addSong('edit',song, i)">
                                        <mat-icon>remove_red_eye</mat-icon>
                                    </button>
                                    <button mat-icon-button	 color="accent" (click)="deleteSong(song.id, i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedSongColumns; sticky:true"></mat-header-row>

                            <mat-row *matRowDef="let song; columns: displayedSongColumns;"
                                     class="product"
                                     matRipple>
                            </mat-row>

                        </mat-table>


                    </div>
                    <!-- / CONTENT CARD -->
                </div>
                <!-- / CENTER -->
            </div>

        </div>

    </div>
</div>
