<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Nouvel album</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row (click)="importPhoto()" class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <img *ngIf="croppedImage" [src]="croppedImage" class="w-28  avatar contact-avatar huge m-0"/>
            <img *ngIf="!croppedImage" [src]="'assets/images/avatar/male-01.jpg'" class="w-28  avatar contact-avatar huge m-0"/>
<!--             <div class="contact-name mt-8">{{contact.name}} {{contact.lastName}}</div>
 -->        </mat-toolbar-row>
    </mat-toolbar>

    <div  class=" pb-0 m-0" >

        <form [formGroup]="albumForm">
           <button (click)="validePhoto()" *ngIf="validatePhoto == false && photo" style="background-color: green;" mat-mini-fab color="primary">
               <mat-icon>checkbox</mat-icon>
           </button>

            <div align="center">
                <image-cropper
            style="width: 200px;"
            *ngIf="validatePhoto == false"
                [imageFile]="photo"
                [maintainAspectRatio]="true"
                [aspectRatio]="3 / 3"
                [format]="'jpeg'"
                [imageQuality]="20"
                (imageCropped)="imageCropped($event)"
                (cropperReady)="cropperReady()"
                (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
            </div>


            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Titre album</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="nom" formControlName="nom" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Artiste</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="artiste" formControlName="artiste" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Description album</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="Description" formControlName="description" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Visibilité</mat-label>
                    <input name="biographie"  [readonly]="true" matInput>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-radio-group (change)="radioChange($event)" formArrayName="visibilite" aria-label="Select an option">
                        <mat-radio-button [value]="true">Public</mat-radio-button>
                        <mat-radio-button style="margin-left: 30px;" [value]="false">Privé</mat-radio-button>
                      </mat-radio-group>
                </mat-form-field>
            </div>

            <div fxLayout="row" *ngIf="albumForm.value.visibilte == false" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Prix album en FCFA</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input type="number" name="prix" formControlName="prix" matInput>
                </mat-form-field>
            </div>

            <div *ngIf="action != 'edit'" class="songBtn">
                <button (click)="importSong()" mat-flat-button color="primary">
                    Importer les songs de l'album
                </button>
            </div>

            <div *ngIf="songAlbum.length > 0" class="songUser py-1">
               <div *ngFor="let song of songAlbum; let i=index" style="border-bottom: 1px solid black;">
                   <h5> {{song.titre}} </h5>
                <audio controls>
                    <source *ngIf="action != 'edit'" [src]="song.songUrl" type="audio/mpeg">
                    <source *ngIf="action === 'edit'" [src]="apiUrl + 'songs/path/' +song.path" type="audio/mpeg">
                  </audio>

                  <div *ngIf="action != 'edit'" class="btnPart">
                      <button (click)="removeFromList(i)" mat-icon-button>
                          <mat-icon>delete</mat-icon>
                      </button>
                  </div>
               </div>
            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">


        <button
                mat-button
                class="save-button"
                (click)="saveAlbum()"
                aria-label="SAVE">
            AJOUTER
        </button>



    </div>
</div>
